.containerRight{
    margin-top:30px;
}
.RadMenu {
    position: fixed !important;
    width: 100% !important;
    z-index: 9999 !important;
}

    .RadMenu a.rmLink {
        color: #333 !important;
    }

    .RadMenu .rmRootGroup .rmRootLink {
        padding: 6px 10px !important;
    }

    .RadMenu .rmGroup .rmLink {
        padding: 4px 31px 4px 10px !important;
    }

.RadMenu_Silk .rmRootGroup .rmSelected > .rmRootLink, .RadMenu_Silk .rmRootGroup .rmExpanded > .rmRootLink {
    border-top: 0 solid #005993 !important;
}

.RadMenu_Silk .rmLink:hover, .RadMenu_Silk .rmVertical .rmLink.rmRootLink:hover {
    color: #fff !important;
    background: #005993 !important;
    background-image: none !important;
    border-top: .31em solid #005993 !important;
}

.RadMenu_Silk .rmLink:hover, .RadMenu_Silk .rmVertical .rmLink.rmRootLink:hover, .RadMenu_Silk .rmSelected > .rmLink, .RadMenu_Silk .rmItem.rmFocused > .rmLink, .RadMenu_Silk .rmExpanded > .rmLink {
    color: #fff !important;
    background: #005993 !important;
    background-image: none !important;
    border-top: 0 !important;
}

.RadMenu_Silk .rmRootGroup.rmHorizontal .rmRootLink:hover {
    color: #005993 !important;
    background-color: #FFF !important;
    background-image: none !important;
    border-top: 0 solid #005993 !important;
}

.RadMenu_Silk .rmRootGroup.rmHorizontal .rmFocused > .rmRootLink {
    box-shadow: none !important;
    border-top: 0 solid #005993 !important;
}

.RadMenu_Silk .rmRootGroup.rmHorizontal .rmRootLink:after {
    width: 100%;
    border-top: .31em solid #005993 !important;
}
.RadMenu_Silk .rmRootGroup {
    border-color: #DDD !important;
}
.RadMenu_Silk .rmRootGroup {
    height: 34px !important;
    line-height: 24px !important;
}

.RadMenu .rmRootGroup .rmRootLink {
    padding: 9px 15px !important;
    font-size: 13px !important;
}